@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MonumentExtended";
  src: url("../public/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "GTAmerica";
  src: url("../public/GT\ America\ Extended\ Regular.ttf");
}
*{
  cursor: url('../public/mouse-cursor.png'), auto;
}
.btn:hover, span:hover, a:hover {
  cursor: url('../public/touch.png'),auto;
  
  

}

:root {
  --foreground-rgb: 0, 0, 0;

  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.modal{
  background-color: rgba(120, 108, 108, 0.385) !important;
}
.gradi{
  background: linear-gradient(to right, #f926ae, #8028ee) ;
  border: none;
  color: white;
}
.btn{
  color: white;
}
.move-on:hover{
  border: solid #f926ae ;
}
